{% extends 'youtubeapp/base.html' %}
{% block title %}{{user|capfirst}} | Channel{% endblock title %}
{% block body %}

<h1 class="text-center text-primary">{{user|capfirst}} Channel</h1>
<div class="videos my-3">
      <div class="row">
          <!-- for loop pagal yaha laga de -->
          {% for i in videos %}
        <div class="col-sm">
          <a href="{% url 'video' i.id %}">
            <img
              src="{{i.video_thumbnail.url}}"
              class="mx-2"
              alt="Channel Image"
              width="100"
            />
            <h3>{{i.video_title}}</h3>
          </a>
        </div>
        {% endfor %}
        </div>

      {% endblock body %}